# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache files
__pycache__/
*.py[cod]
*.so

.PPT/
PPT/
*.csv
*.tsv
*.xlsx
*.h5
*.db

# Virtual environment
.env/
.venv/
env/
venv/

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Logs
*.log

# Environment files
.env